body{
    margin: 0;
    padding: 0;
}
.mission-color{
    color: orange;
}
.focused-line{
    border-left: 4px solid orangered;
    font-size: 35px;
}
.first-parent{
    display: flex;
    margin-left: 100px;
}
.img-position{
   width: 50%;
}
.img-position img{
    width: 70%;
}
.button{
  background-color: olivedrab;
  color: red;
  padding: 5px 5px;
}
.second-parent{
    text-align: center;
    margin-top: 70px;
}
.mission{
    width: 250px;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 10px;
    box-shadow: 5px 5px 30px gray;
    background-image: url(images/shapes/shape-3.png);
}
.div-img img{
    width: 100%;
}
.mission-vission-goal{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.vission{
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: 10px;
    box-shadow: 5px 5px 30px gray;
    background-image: url(images/shapes/shape-5.png);
}
.goal{
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: 10px;
    box-shadow: 5px 5px 30px gray;
    background-image: url(images/shapes/shape-4.png);
}
.third-section{
    display: flex;
    margin-top: 70px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 350px;
}
.img-coding img{
width: 50%;
margin-left: 250px;
}