body{
    margin: 0;
    padding: 0;
}
.mission-color{
    color: orange;
}
.focused-line{
    border-left: 4px solid orangered;
    font-size: 35px;
}
.first-parent{
    display: flex;
    margin-left: 100px;
}
.img-position{
   width: 50%;
}
.img-position img{
    width: 70%;
}
.button{
  background-color: rgba(147, 209, 22, 0.945);
  color: red;
  padding: 5px 5px;
}
.second-parent{
    text-align: center;
    margin-top: 70px;
}
.mission{
    width: 250px;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 10px;
    box-shadow: 5px 5px 30px gray;
   background-color: rgb(240, 188, 196);
}
.div-img img{
    width: 100%;
}
.mission-vission-goal{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.vission{
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: 10px;
    box-shadow: 5px 5px 30px gray;
    background-color: rgb(243, 175, 148);
}
.goal{
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: 10px;
    box-shadow: 5px 5px 30px gray;
    background-color: rgb(183, 219, 241);
}
.third-section{
    display: flex;
    margin-top: 70px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 350px;
}
.img-coding img{
width: 50%;
margin-left: 250px;
}
.forth-section{
    display: flex;
    margin-bottom: 150px;
    margin-top: 120px;
    margin-left: 200px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 250px;
}
.project-pic{
    width: 70%;
}
.project-pic img{
    width: 350px;
}
.fifth-section{
    display: flex;
    margin-bottom: 100px;
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
}
.university-pic{
 width: 80%;
}
.university-pic img{
   width: 70%; 
   margin-left: 150px;
}
.my-profile{
    width: 50%;
    margin-right: 60px;
}
footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    margin-bottom: 20px;
    padding-top: 5px;
}
.foot-color{
    color: orangered;
}
.fnt-foot{
    font-family: 'Satisfy', cursive; 
}
.colr-foot{
    color: rgb(131, 143, 122);
    padding-bottom: 28px;
}